In [3]:
import numpy as np
import pandas as pd
data=np.genfromtxt('0000000000002329_training_diabetes_x_y_train.csv',delimiter=',')
x_train=data[:,0:10]
y_train=data[:,10:11].reshape(-1,1)
from sklearn.linear_model import LinearRegression
arg=LinearRegression()
arg.fit(x_train,y_train)
x_test=np.genfromtxt('0000000000002329_test_diabetes_x_test.csv',delimiter=',')
y_pred=arg.predict(x_test)
df=pd.DataFrame(y_pred)
df=df.round(5)
df.to_csv('pred.csv',header=False,index=False)
df

             0
0    105.52975
1    105.80392
2    178.60857
3     79.38288
4     52.95869
..         ...
106  246.41236
107  234.96393
108  191.51298
109  168.33254
110  163.02965

[111 rows x 1 columns]